target/
.gradle/
build/
mobile/android/.gradle/
mobile/android/build/
mobile/android/local.properties
mobile/android/app/build/
mobile/android/dist/
mobile/android/keystores/
mobile/android/keystore.properties
*.jks
*.keystore
